## Produk Bundling

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
import pandas as pd
df = pd.read_csv("datasiap.csv")

In [6]:
df

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date_Mon_Year,Month,TotalAmount,Hour,Minute
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,01-Dec-2010,Dec,15.30,8,26
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,01-Dec-2010,Dec,20.34,8,26
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,01-Dec-2010,Dec,22.00,8,26
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,01-Dec-2010,Dec,20.34,8,26
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,01-Dec-2010,Dec,20.34,8,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,09-Dec-2011,Dec,10.20,12,50
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,09-Dec-2011,Dec,12.60,12,50
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,09-Dec-2011,Dec,16.60,12,50
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,09-Dec-2011,Dec,16.60,12,50
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,09-Dec-2011,Dec,14.85,12,50

In [7]:
df['Grouped'] = df.groupby('InvoiceNo')['Description'].transform(lambda x: ','.join(x))

In [8]:
df

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date_Mon_Year,Month,TotalAmount,Hour,Minute,Grouped
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,01-Dec-2010,Dec,15.30,8,26,"WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL..."
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,01-Dec-2010,Dec,20.34,8,26,"WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL..."
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,01-Dec-2010,Dec,22.00,8,26,"WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL..."
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,01-Dec-2010,Dec,20.34,8,26,"WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL..."
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,01-Dec-2010,Dec,20.34,8,26,"WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,09-Dec-2011,Dec,10.20,12,50,"CIRCUS PARADE LUNCH BOX ,PLASTERS IN TIN CIRCU..."
392688,541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,09-Dec-2011,Dec,12.60,12,50,"CIRCUS PARADE LUNCH BOX ,PLASTERS IN TIN CIRCU..."
392689,541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,09-Dec-2011,Dec,16.60,12,50,"CIRCUS PARADE LUNCH BOX ,PLASTERS IN TIN CIRCU..."
392690,541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,09-Dec-2011,Dec,16.60,12,50,"CIRCUS PARADE LUNCH BOX ,PLASTERS IN TIN CIRCU..."
392691,541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,09-Dec-2011,Dec,14.85,12,50,"CIRCUS PARADE LUNCH BOX ,PLASTERS IN TIN CIRCU..."

In [9]:
df2 = df[['InvoiceNo','Grouped']].drop_duplicates()
df2.head(100)

      InvoiceNo                                            Grouped
0        536365  WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL...
7        536366   HAND WARMER UNION JACK,HAND WARMER RED POLKA DOT
9        536367  ASSORTED COLOUR BIRD ORNAMENT,POPPY'S PLAYHOUS...
21       536368  JAM MAKING SET WITH JARS,RED COAT RACK PARIS F...
25       536369                           BATH BUILDING BLOCK WORD
...         ...                                                ...
1576     536569  3 HOOK PHOTO SHELF ANTIQUE WHITE,NURSERY A,B,C...
1641     536570  ZINC METAL HEART DECORATION,MA CAMPAGNE CUTLER...
1646     536571  YULETIDE IMAGES GIFT WRAP SET,WICKER WREATH LA...
1664     536572  CARDHOLDER GINGHAM STAR,NOEL WOODEN BLOCK LETT...
1685     536573  COLOUR GLASS T-LIGHT HOLDER HANGING,SINGLE HEA...

[100 rows x 2 columns]

In [10]:
df2['Grouped'][0]

'WHITE HANGING HEART T-LIGHT HOLDER,WHITE METAL LANTERN,CREAM CUPID HEARTS COAT HANGER,KNITTED UNION FLAG HOT WATER BOTTLE,RED WOOLLY HOTTIE WHITE HEART.,SET 7 BABUSHKA NESTING BOXES,GLASS STAR FROSTED T-LIGHT HOLDER'

In [11]:
# Referenced: https://stackoverflow.com/questions/52195887/counting-unique-pairs-of-numbers-into-a-python-dictionary
from itertools import combinations
from collections import Counter

list3 = [[2, 3], [2, 3, 4]]

count = Counter()

for sublist in list3:
    count.update(Counter(combinations(sublist, 2)))

print(count)

Counter({(2, 3): 2, (2, 4): 1, (3, 4): 1})

In [12]:
# Referenced: https://stackoverflow.com/questions/52195887/counting-unique-pairs-of-numbers-into-a-python-dictionary
from itertools import combinations
from collections import Counter

In [14]:
count = Counter()
# ini row split biar kita dapet list,kan kalo ga di split tetep satu list ga kayak yang di stackoverflow

for row in df2['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))
# angka dua buat mau berpaa pirnya
count.most_common(10)
# for key,value in count.most_common(10):
#     print(key, value)

[(('KEY FOB ', 'KEY FOB '), 621),
 (('KEY FOB ', ' BACK DOOR '), 440),
 (('KEY FOB ', ' SHED'), 414),
 (('KEY FOB ', ' FRONT  DOOR '), 342),
 (('LUNCH BAG RED RETROSPOT', 'LUNCH BAG PINK POLKADOT'), 317),
 (('JUMBO BAG PINK POLKADOT', 'JUMBO BAG RED RETROSPOT'), 314),
 (('LUNCH BAG RED RETROSPOT', 'LUNCH BAG  BLACK SKULL.'), 303),
 (('ROSES REGENCY TEACUP AND SAUCER ', 'GREEN REGENCY TEACUP AND SAUCER'),
  294),
 (('ALARM CLOCK BAKELIKE RED ', 'ALARM CLOCK BAKELIKE GREEN'), 280),
 (('ALARM CLOCK BAKELIKE GREEN', 'ALARM CLOCK BAKELIKE RED '), 269)]